.photo{
    background: aqua url(../Images/junk.jpg) no-repeat center fixed; background-size: cover;
}
img{
    width: 250px;
    height: 250px;
}

.photo-1{
    width: 500px;
    height: 300px;
}
.photo-2{
   width: 50%;
}
/* background-image properties */
p{
    background-image: url(../Images/junk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

